*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
}

body{
    background-color: var(--bg-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-primary-color);
}



main{
    width: 100%;
}

main section{
    width: 100%;
    padding: var(--padding-2xl);
    display: flex;
    gap: var(--gutter-lg);
}

main section .left{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gutter-lg);
}

main section .all_button{
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
}

.btn{
    padding: var(--padding-sm) var(--padding-lg);
    border-radius: var(--border-radius-md);
    background-color: var(--bg-active-color);
    color: var(--text-active-color);
    border: none;
    outline: none;
    cursor: pointer;
}

main section .all_button #rest_btn{
    background-color: var(--bg-danger-color);
    color: var(--text-primary-color);
}

main section .all_button #download_btn{
    background-color: var(--bg-success-color);
    color: var(--text-primary-color);
}

main section .left .edit_result{
    width: 100%;
    background: var(--bg-secondary-color);
    padding: var(--padding-2xl);
    aspect-ratio: 5/3;
    border-radius: var(--border-radius-xl);
    display: flex;
    justify-content: center;
    align-items: center;
}

main section .left .edit_result .placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
}

main section .left .edit_result .placeholder i{
    font-size: 10rem;
}

main section .left .edit_result .placeholder p{
    font-size: var(--font-size-lg);
}

main section .right{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
    background-color: var(--bg-secondary-color);
    padding: var(--padding-lg);
    border-radius: var(--border-radius-xl);
}

main section .right .filter{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-lg);
}

main section .right .filter .filter_item{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}

main section .right .filter_item input{
    outline: none;
    appearance: none;
}

main section .right .filter_item input::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    appearance: none;
    cursor: pointer;
    margin-top: -8.5px;
}

main section .right .filter_item input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    appearance: none;
    cursor: pointer;
}

main section .right .filter_item input::-webkit-slider-runnable-track {
    background-color: var(--bg-active-color);
    height: 3px;
    border-radius: 2px;
}

main section .right .filter_item input[type="range"]::-moz-range-track {
    background-color: var(--bg-active-color);
    height: 3px;
    border-radius: 2px;
}

canvas{
    display: none;
    max-width: 100%;
    max-height: 70vh;
}

.presets{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter-sm);
}